.projects_container {
    padding: 1rem 0;
}

.projects_container h2 {
    margin-bottom: 1rem;
}

.projects {
    display: flex;
    gap: 1rem;
}

.projects img {
    width: 100%;
    display: block;
}

.create_new_project {
    background-image: url('/new_project.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}
